<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<%= form_tag("/sessions", method: "post") do %>
  <fieldset>
    <legend>Identifícate</legend>
    
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email, params[:email] %>
    
    <%= label_tag :password, "Contraseña" %>
    <%= password_field_tag :password, params[:password] %>
    
    <%= submit_tag "Login" %>
  </fieldset>
<% end %>