<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nif, "NIF" %><br />
    <%= f.text_field :nif %>
  </div>
  <div class="field">
    <%= f.label :sec_social_number, "Nº S.Social" %><br />
    <%= f.text_field :sec_social_number %>
  </div>
  <div class="field">
    <%= f.select :contribution_group_id, ContributionGroup.all.collect { |c| [c.name, c.id] } %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
