<h1>Empleados</h1>

<table class="table table-striped table-bordered bootstrap-datatable datatable">
  <tr>
    <th>Nombre</th>
    <th>NIF</th>
    <th>Nº Seg Social</th>
    <th>Grupo de Cotización</th>
    <th>Categoría Profesional</th>
    <th>Nueva Nómina</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.nif %></td>
    <td><%= employee.sec_social_number %></td>
    <td><%= employee.contribution_group.number %></td>
    <td><%= employee.contribution_group.professional_category %></td>
    <td><%= link_to "Nueva", new_employee_payroll_path(employee) %></td>
    <td><%= link_to "Mostrar", employee %></td>
    <td><%= link_to "Editar", edit_employee_path(employee) %></td>
    <td><%= link_to "Eliminar", employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to "Nuevo empleado", new_employee_path %>
