<%= form_for(@payroll) do |f| %>
  <% if @payroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
      <% @payroll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :employee_id, value: @payroll.employee.id %>

  <div class="field">
    <%= f.label :agreement, "Tipo de Contrato" %><br />
    <%= f.select :agreement, ['Indefinido', 'Temporal'] %>
  </div>
  <div class="field">
    <%= f.label :salary, "Salario Base" %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :bonus, "Complementos Salariales" %><br />
    <%= f.text_field :bonus %>
  </div>
  <div class="field">
    <%= f.label :overtime, "Horas Extraordinarias Normales"%><br />
    <%= f.text_field :overtime %>
  </div>
  <div class="field">
    <%= f.label :overtime_fm, "Horas Extraordinarias Fuerza Mayor"%><br />
    <%= f.text_field :overtime_fm%>
  </div>
  <div class="field">
    <%= f.label :salary_bonus, "Pagas Extras" %><br />
    <%= f.text_field :salary_bonus %>
  </div>
  <div class="field">
    <%= f.label :payment, "Cantidad Pagas Extras" %><br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :payment_in_kind, "Salario en Especie" %><br />
    <%= f.text_field :payment_in_kind %>
  </div>
  <div class="field">
    <%= f.label :no_bonuses, "Complementos no Salariales" %><br />
    <%= f.text_field :no_bonuses %>
  </div>
  <div class="field">
    <%= f.label :social_sec_contribution, "Cotización S.Social" %><br />
    <%= f.text_field :social_sec_contribution %>
  </div>
  <div class="field">
    <%= f.label :irpf, "IRPF" %><br />
    <%= f.text_field :irpf %>
  </div>
  <div class="field">
    <%= f.label :start_date, "Fecha Inicio" %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date, "Fecha Fin" %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
