<p id="notice"><%= notice %></p>

<h1><%= "Nómina de #{@payroll.employee.name}" %></h1><br><br>

<h2><%= "PERÍODO DE LÍQUIDACIÓN: #{@payroll.start_date} al #{@payroll.end_date}" %></h2><br>

<h2>EMPRESA</h2>
  <table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tr>
      <th>Nombre</th>
      <th>CIF</th>
      <th>CCC Seg Social</th>
      <th>Domicilio</th>
    </tr>
    <tr>
      <td><%= @payroll.company.name %></td>
      <td><%= @payroll.company.cif %></td>
      <td><%= @payroll.company.sec_social_number %></td>
      <td><%= @payroll.company.street %></td>
    </tr>
  </table>
  <h2>EMPLEADO</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Nº Seguridad Social</th>
        <th>Categoría Profesional</th>
        <th>Grupo de Cotización</th>
      </tr>
      <tr>
        <td><%= @payroll.employee.name %></td>
        <td><%= @payroll.employee.nif %></td>
        <td><%= @payroll.employee.sec_social_number %></td>
        <td><%= @payroll.employee.contribution_group.professional_category%></td>
        <td><%= @payroll.employee.contribution_group.number%></td>
     </tr>
   </table><br><br>
  <h2>DEVENGOS</h2>
  <h3>1.Percepciones Salariales</h3>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Salario Base</th>
        <th>Complementos Salariales</th>
        <th>Horas Extraordinarias</th>
        <th>Gratificaciones Extraordinarias</th>
        <th>Salario en Especie</th>
      </tr>
      <tr>
       <td><%= @payroll.salary %>€</td>
       <td><%= @payroll.bonus %>€</td>
       <td><%= @payroll.bhe %>€</td>
       <td><%= @payroll.salary_bonus%>€</td>
      <td><%= @payroll.payment_in_kind %>€</td>
      </tr>
    </table><br>
  <h3>2.Percepciones No Salariales</h3>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Indemnizaciones o Suplidos</th>
        <th>Prestaciones e Indemnizaciones S.Social</th>
        <th>Indemnizaciones por Traslado, Suspensión o Despido</th>
        <th>Otras Percepciones no Salariales</th>
      </tr>
      <tr>
       <td><%= @payroll.indemnification %>€</td>
       <td><%= @payroll.indemnification_sec_social %>€</td>
       <td><%= @payroll.indemnification_for_transfer %>€</td>
       <td><%= @payroll.no_bonuses %>€</td>
      </tr>
    </table><br>
  <h2><%= "TOTAL DEVENGADO: #{@payroll.total_devengado}" %>€</h2><br><br>
  <h2>DEDUCCIONES</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Contingencias Comunes</th>
        <th>Desempleo</th>
        <th>Formación Profesional</th>
        <th>Horas Extras F.Mayor</th>
        <th>Horas Extras Normales</th>
        <th>IRPF</th>
      </tr>
      <tr>
       <td><%= @payroll.c_comunes %>€</td>
       <td><%= @payroll.desempleo %>€</td>
       <td><%= @payroll.f_profesional %>€</td>
       <td><%= @payroll.horas_extras_fuerza_mayor %>€</td>
       <td><%= @payroll.horas_extras_normales %>€</td>
       <td><%= @payroll.aportacion_irpf %>€</td>
      </tr>
    </table><br>
    <h2><%= "TOTAL DEDUCCIONES: #{@payroll.deducciones}" %>€</h2><br><br>
    <h2><%= "LÍQUIDO TOTAL A PERCIBIR: #{@payroll.salario_liquido}" %>€</h2><br><br>
    <h2>DETERMINACIÓN DE LAS BASES DE COTIZACIÓN A LA SEGURIDAD SOCIAL Y CONCEPTOS DE RECAUDACIÓN CONJUNTA Y DE LA BASE SUJETA A RETENCIÓN DEL IRPF</h2>
    <ol>
      <li>Base de cotización por contingencias comunes
        <b><%= "Remuneración mensual: #{@payroll.remuneracion_mensual}" %>€</b><br>
        <b><%= "Prorrata de pagas extraordinarias: #{@payroll.prorrata_paga_extra}" %>€</b><br>
        <b><%= "TOTAL: #{@payroll.bcc}" %>€</b><br>
      <li><%= "Base de cotización por contingecias profesionales: #{@payroll.bcp}" %>€</li>
      <li><%= "Base de cotización adicional por horas extraordinarias : #{@payroll.overtime}" %>€</li>
      <li><%= "Base de cotización adicional por horas extraordinarias por fuerza mayor: #{@payroll.overtime_fm}" %>€</li>
      <li><%= "Base sujeta a retención del IRPF: #{@payroll.total_devengado}" %>€</li>
    </ol>


<%= link_to 'Editar', edit_payroll_path(@payroll) %> |
<%= link_to 'Volver', payrolls_path %>
