<p id="notice"><%= notice %></p>

<div class="payroll">
  <h1><%= "Nómina de #{@payroll.employee.name}" %></h1>
  <h2 class="date"><%= "Periodo de liquidación: #{@payroll.start_date} al #{@payroll.end_date}" %></h2>

  <div class="payroll-block">
    <h2>Empresa</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tr>
      <th>Nombre</th>
      <th>CIF</th>
      <th>CCC Seg Social</th>
      <th>Domicilio</th>
    </tr>
    <tr>
      <td><%= @payroll.company.name %></td>
      <td><%= @payroll.company.cif %></td>
      <td><%= @payroll.company.sec_social_number %></td>
      <td><%= @payroll.company.street %></td>
    </tr>
    </table>
  </div>

  <div class="payroll-block">
    <h2>Empleado</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Nº Seguridad Social</th>
        <th>Categoría Profesional</th>
        <th>Grupo de Cotización</th>
      </tr>
      <tr>
        <td><%= @payroll.employee.name %></td>
        <td><%= @payroll.employee.nif %></td>
        <td><%= @payroll.employee.sec_social_number %></td>
        <td><%= @payroll.employee.contribution_group.professional_category%></td>
        <td><%= @payroll.employee.contribution_group.number%></td>
     </tr>
    </table>
  </div>

  <div class="payroll-block">
    <h2>Devengos</h2>
    <h3>1.Percepciones salariales</h3>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Salario Base</th>
        <th>Complementos Salariales</th>
        <th>Horas Extraordinarias</th>
        <th>Gratificaciones Extraordinarias</th>
        <th>Salario en Especie</th>
      </tr>
      <tr>
       <td><%= number_to_euros(@payroll.salary) %></td> 
       <td><%= number_to_euros(@payroll.bonus) %></td>
       <td><%= number_to_euros(@payroll.bhe) %></td>
       <td><%= number_to_euros(@payroll.salary_bonus) %></td>
      <td><%= number_to_euros(@payroll.payment_in_kind) %></td>
      </tr>
    </table>
    <h3>2.Percepciones no salariales</h3>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Indemnizaciones o Suplidos</th>
        <th>Prestaciones e Indemnizaciones S.Social</th>
        <th>Indemnizaciones por Traslado, Suspensión o Despido</th>
        <th>Otras Percepciones no Salariales</th>
      </tr>
      <tr>
       <td><%= number_to_euros(@payroll.indemnification) %></td>
       <td><%= number_to_euros(@payroll.indemnification_sec_social) %></td>
       <td><%= number_to_euros(@payroll.indemnification_for_transfer )%></td>
       <td><%= number_to_euros(@payroll.no_bonuses) %></td>
      </tr>
    </table>
    <h2 class="total">
      Total devengado:
      <span class="quantity"><%= number_to_euros(@payroll.total_devengado) %></span>
      <span class="currency"></span>
    </h2>
  </div>

  <div class="payroll-block">
    <h2>Deducciones</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <tr>
        <th>Contingencias Comunes</th>
        <th>Desempleo</th>
        <th>Formación Profesional</th>
        <th>Horas Extras F.Mayor</th>
        <th>Horas Extras Normales</th>
        <th>IRPF</th>
      </tr>
      <tr>
       <td><%= number_to_euros(@payroll.c_comunes) %></td>
       <td><%= number_to_euros(@payroll.desempleo) %></td>
       <td><%= number_to_euros(@payroll.f_profesional) %></td>
       <td><%= number_to_euros(@payroll.horas_extras_fuerza_mayor) %></td>
       <td><%= number_to_euros(@payroll.horas_extras_normales) %></td>
       <td><%= number_to_euros(@payroll.aportacion_irpf) %></td>
      </tr>
    </table>
    <h2 class="total">
      Total deducciones:
      <span class="quantity"><%= number_to_euros(@payroll.deducciones) %></span>
      <span class="currency"></span>
    </h2>

    <h2 class="total">
      Líquido total a percibir:
      <span class="quantity"><%= number_to_euros(@payroll.salario_liquido) %></span>
      <span class="currency"></span>
    </h2>
  </div>

  <div class="payroll-block">
    <h2>Determinación de las bases de cotización a la seguridad social y conceptos de recaudación
    conjunto y de la base sujeta a retención del IRPF</h2>
    <ol>
      <li>
        Base de cotización por contingencias comunes
        <ul>
          <li><%= "Remuneración mensual: #{number_to_euros(@payroll.remuneracion_mensual)}" %></li>
          <li><%= "Prorrata de pagas extraordinarias: #{number_to_euros(@payroll.prorrata_paga_extra)}" %></li>
          <li><%= "TOTAL: #{number_to_euros(@payroll.bcc)}" %></li>
        </ul>
      </li>
      <li><%= "Base de cotización por contingecias profesionales: #{number_to_euros(@payroll.bcp)}" %></li>
      <li><%= "Base de cotización adicional por horas extraordinarias : #{number_to_euros(@payroll.overtime)}" %></li>
      <li><%= "Base de cotización adicional por horas extraordinarias por fuerza mayor: #{number_to_euros(@payroll.overtime_fm)}" %></li>
      <li><%= "Base sujeta a retención del IRPF: #{number_to_euros(@payroll.total_devengado)}" %></li>
    </ol>
  </div>

</div>

<%= link_to 'Editar', edit_payroll_path(@payroll), class: "btn" %> |
<%= link_to 'Atras', payrolls_path, class: "btn" %>
