<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>
 
<h2>CIF: <%= @company.cif %></h2>
<h2>Nº Seguridad Social: <%= @company.sec_social_number %></h2>
<h2>Domicilio: <%= @company.street %></h2>
<h2>Nº de Empleados: <%= @company.employees.count %></h2><br>




<%= link_to 'Editar', edit_company_path(@company), class: "btn" %>
