<h1>Listing professional_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professional_categories.each do |professional_category| %>
  <tr>
    <td><%= professional_category.name %></td>
    <td><%= link_to 'Show', professional_category %></td>
    <td><%= link_to 'Edit', edit_professional_category_path(professional_category) %></td>
    <td><%= link_to 'Destroy', professional_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professional category', new_professional_category_path %>
