<%= form_for(@contribution_group) do |f| %>
  <% if @contribution_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution_group.errors.count, "error") %> prohibited this contribution_group from being saved:</h2>

      <ul>
      <% @contribution_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number, "Grupo de Cotizacion" %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :professional_category, "Categoria Profesional" %><br />
    <%= f.text_field :professional_category %>
  </div>
  <div class="field">
    <%= f.label :min_base_salary, "Salario Mínimo" %><br />
    <%= f.text_field :min_base_salary %>
  </div>
  <div class="field">
    <%= f.label :max_base_salary, "Salario Máximo" %><br />
    <%= f.text_field :max_base_salary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
